<!-- <h1>New Person</h1>
<form action="/people" , method= "post">
  <input type="hidden" name="authenticity_token" value="l8C45sK7PbUoYUuySWb2JbByRVZ3TecLaNEYuEgJ4VmkrOxvZ3X5n/JiqaOn8XA49ZtozVYjJIKcmBCrRHMgaw==">
  Name:
  <br>
  <input name=people[name] value ="<%= @person[:name]%>"></input>
  <br>
  Age:
  <br>
  <input name=people[age] value ="<%= @person[:age]%>"></input>
  <br>
  <input type="submit" value="submit">
</form> -->

<%= form_with(model: @person, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
